  <div id="footer">
    <div id="izq">
      <a class="link_footer" href="https://alu0100505078.github.io/" target="_blank">Pedro Ramos</a>
    </div>

    <div id="centro">
      <a class="link_footer" href="https://danielramosacosta.github.io/" target="_blank">Daniel Ramos</a>
    </div>

    <div id="der">
      <a class="link_footer" href="https://rafaherrero.github.io/" target="_blank">Rafa Herrero</a>
    </div>
  </div>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/assets/index.js"></script>

</body>
</html>
